
<% if flash[:message] %>
  <div class="ui red message">
    <strong><%= flash[:message] %></strong>
  </div>
<% end %>


<div class="ui three column centered grid">
  <div class="column">
    <div class="ui header">
      <br><br>
      <h1>Sign in</h1>
    </div>
    <div class="ui form">
      <%= form_tag '/login' do %>
      <div class="fields">
        <div class="field">

          <%= text_field_tag :"user[name]", nil , placeholder: "Enter your name..." %>

          <%= password_field_tag :"user[password]", nil, placeholder: "Enter your password..." %>
        </div>
        <br>
        <%= submit_tag "Sign in", class: "ui blue button"%>
      <% end %>
    </div>
  </div>
</div>


<style>
body {
  background-image: url('/images/giphy (12).gif') !important;
  background-size: cover !important;
}
</style>
