
<% if flash[:notice] %>
<div class="ui red message">
      <%= flash[:notice] %>
  </div>
<% end %>


  <h1 class="ui huge dividing header centered"> Discussion Database!!!!! </h1>


<% if session[:current_user_id] %>
  <div class="ui form">

    <%= form_tag '/discussion_and_book_search', method: :get do %>
      <%= text_field_tag :topic, nil, placeholder: "Enter a topic..." %>
      <br><br>
      <%= text_field_tag :query, nil,  placeholder: "Search by book title..." %>
      <br><br>
      <%= submit_tag "Create New Discussion", class: "ui inverted blue button"%>
    <% end %>
  </div>
<% end %>


<br><br>

<% @discussed_books = Book.all.select do |book| %>
  <% book.discussions != []%>
<% end %>


<div class="ui six column grid">
  <% @discussed_books.each do |disc_book|  %>
    <div class="column">
      <div class="ui fluid card">
        <div class="ui image">
          <%= image_tag "#{disc_book.image}", class: "ui image" %>
        </div>
        <div class="content">

        <h3 class="ui centered dividing header">Discussions about
        <br><%= link_to disc_book.title, book_path(disc_book) %></h3>
            <br><br>
              <% disc_book.discussions.each do |disc| %>
                <%= link_to disc.topic, disc %><br><br>
              <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<!-- Book.all  if book has discussion  display book title as heading -->
<!-- display discussion topics related to book -->
