<h1>Edit User</h1>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %><br>
      <%= f.text_area :bio, class: "form-control", placeholder: "Enter a brief bio" %><br>
      <%= f.file_field :picture %>
    </div>
    <h5>Pick some of your favorite tags</h5>
      <% @tags.each do |tag| %>
        <%= f.label tag.name %>
        <%= f.check_box :tags, { multiple: true }, tag.id, false %>
        <br>
      <% end %>
        <br>
  <%= f.submit%>
  <% end %>
