
<div class="jumbotron">
  <h1 class="display-4">Create New User</h1>
</div>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control", placeholder:"Enter Name" %><br>
      <%= f.password_field :password, class: "form-control", placeholder:"Enter Password" %><br>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder:"Confirm Password"%><br>
      <%= f.text_area :bio, class: "form-control", placeholder:"Enter a brief bio..." %><br>
      <%= f.file_field :picture %><br>

      <h5>Pick some of your favorite tags</h5>
        <% Tag.all.each do |tag| %>
          <%= f.label tag.name %>
          <%= f.check_box :tags, { multiple: true }, tag.id, false %>
          <br>
        <% end %>
          <br>
      <%= f.submit%>
    </div>
  <% end %>
