
<div class="jumbotron">
  <h1><%= @user.name %></h1>
  <%= image_tag("/uploads/#{@user.image}", width: '250') %>

  <p><%= @user.bio %></p>

</div>

<br>

<h1><%= @user.name.upcase %>'S FAVORITE TAGS</h1>
  <% @user.tags.each do |tag| %>
  #<%= tag.name %><br>
  <% end %>


<br>


<h1><%= @user.name.upcase %>'S BOOKSHELF</h1>
<h2>Unread Books</h2>
  <% @unread_books.each do |user_book| %>
    <%= image_tag "#{user_book.book.image}" %>
    <strong><%= link_to user_book.book.title, book_path(user_book.book) %></strong>

  <% if session[:current_user_id] == @user.id %>
    <% @user = User.find(session[:current_user_id]) %>
      <%= form_tag read_book_path, method: :post do %>
      <%= hidden_field_tag :user_book_id, user_book.id %>
      <%= label_tag :rating %>
      <%= number_field_tag :rating, 1, in: (1..5) %><br>
      <%= submit_tag "Mark Book as Read" %>
    <% end %>
  <% end %>


  <br>
<% end %>

<br><br>

<h1>Read Books</h1>
<% @read_books.each do |user_book| %>
  <%= image_tag "#{user_book.book.image}" %>
  <strong><%= link_to user_book.book.title, book_path(user_book.book) %></strong><br>
    Average Rating: <%= user_book.book.rating %><br>
    User Rating: <%= user_book.user_rating %><br>
  <br>
<% end %>

<br><br>

<% if params[:id].to_i == session[:current_user_id] %>
  <%= button_to 'Edit User', edit_user_path(@user), :method => 'get' %>
  <%= button_to 'Delete User', user_path(@user), :method => 'delete' %>
<% end %>
