<% if flash[:notice] %>
  <div class="ui red message">
    <strong><%= flash[:notice] %></strong>
  </div>
<% end %>
<% if flash[:tag] %>
  <div class="ui blue message">
    <strong><%= flash[:tag] %></strong>
  </div>
<% end %>



<br><br>

    <h1 class="ui huge dividing header centered">
      BOOKS
      <br><br>
      <%= button_to "Suggested for YOU", '/suggested_books', method: 'get', class: "ui inverted blue button" %>
      <br>
    </h1>

<br><br>
<div class="ui two column centered grid">
  <div class="column">
    <%= form_tag "/search", method: "get", class: "ui form" do %>
      <div class="field">
        <%= text_field_tag :query, nil, placeholder: "Search for books..." %>
      </div>
        <%= submit_tag "Search", class: "ui inverted blue button right floated"  %>
      <br>
    <% end %>
    <br><br>

    <%= form_tag("/tag_search", method: "get", class: "ui form") do %>
    <div class="field">
      <%= text_field_tag :query, nil, placeholder: "Search by tag..." %>
    </div>
    <%= submit_tag "Search", class: "ui inverted blue button right floated"  %>
    <br>
    <% end %>
    <br><br>

  </div>
</div>

<br><br>
<div class="jumbotron">

  <h1 class="ui header centered">
    Popular Books
  </h1>

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <div class="ui center aligned segment">

          <a class="ui blue centered button" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i>Back</a>
          <a class="ui blue centered button" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i>Next</a>
        </div>
      </div>
      <br><br>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">
            <div class="ui six column grid">
              <% @books.sample(6).each do |book| %>
              <div class="column">
                <div class="ui fluid card">
                  <div class="ui image">
                    <%= image_tag "#{book.image}", class: "ui image" %>
                  </div>
                  <div class="content">
                    <a class="header"><%= link_to book.title, book %></a>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
      <br><br>
          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">
            <div class="ui six column grid">
              <% @books.sample(6).each do |book| %>
              <div class="column">
                <div class="ui fluid card">
                  <div class="ui image">
                    <%= image_tag "#{book.image}", class: "ui image" %>
                  </div>
                  <div class="content">
                    <a class="header"><%= link_to book.title, book %></a>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <br><br>
          </div>
          <!--/.Second slide-->

          <!--Third slide-->
          <div class="carousel-item">
            <div class="ui six column grid">
              <% @books.sample(6).each do |book| %>
              <div class="column">
                <div class="ui fluid card">
                  <div class="ui image">
                    <%= image_tag "#{book.image}", class: "ui image" %>
                  </div>
                  <div class="content">
                    <a class="header"><%= link_to book.title, book %></a>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

          <br><br>
          </div>
          <!--/.Third slide-->

      </div>
      <!--/.Slides-->

  </div>
  <!--/.Carousel Wrapper-->
  <br><br>
</div>
</div>

  <h1 class="ui dividing header centered">
    Popular Tags
    <br><br>
  </h1>
  <br>


    <div class="ui six column grid">
      <% Tag.all.sample(30).each do |tag| %>
      <div class="column">
        <%= form_tag '/users/add_tag', method: 'post' do %>
          <%= hidden_field_tag :tag_id, tag.id %>
          <%= submit_tag "#" + "#{tag.name.split(' ')[0]}", class: "ui inverted blue button" %>
        <% end %>
      </div>
      <% end %>
  </div>





<br><br><br><br>



<!-- Display all books w/ little image
Search by tag -->
<!-- interations: discussions & authors -->
