<% if flash[:notice] %>
  <div class="alert alert-warning">
    <strong><%= flash[:notice] %></strong>
  </div>
<% end %>

<div class="jumbotron">
  <h1 > BBOOOOOOKKKSSS </h1>
</div>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:query, "Search for books:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<br><br>

<%= form_tag("/tag_search", method: "get") do %>
  <%= label_tag(:query, "Search by tag:") %>
  <%= text_field_tag :query %>
  <%= submit_tag("Search") %>
<% end %>

<br><br>

  <h3>Popular Books</h3>
  <% @books.first(10).each do |book| %>
    <%= link_to book.title, book %><br>
  <% end %>
  <br>


  <h3>Popular Tags</h3>
  <% @books.first(10).each do |book| %>
    <%= link_to book.title, book %><br>
  <% end %>




<!-- Display all books w/ little image
Search by tag -->
<!-- interations: discussions & authors -->
